*.xml
*.jar
/week1-023.Temperatures/build/classes/*.class
*.class
*.properties
/week4-072.3.MoneyTransfers/*.mf
*.mf
*.txt
test
/2013-OOProgrammingWithJava-PART1/week6-094.PhoneBook/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week6-095.Money/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week6-096.SumOfArray/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week6-097.ElegantPrinting/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week6-098.CopyAndReverse/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week6-099.ArrayToStars/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week6-100.NightSky/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week6-101.Library/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week6-102.GradeDistribution/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week6-103.Birdwatcher/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week6-105.GuessingGame/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week6-106.BinarySearch/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week6-104.Sorting/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week6-094.PhoneBook/build/
/2013-OOProgrammingWithJava-PART1/week6-095.Money/build/
/2013-OOProgrammingWithJava-PART1/week6-096.SumOfArray/build/
/2013-OOProgrammingWithJava-PART1/week6-097.ElegantPrinting/build/
/2013-OOProgrammingWithJava-PART1/week6-098.CopyAndReverse/build/
/2013-OOProgrammingWithJava-PART1/week6-099.ArrayToStars/build/
/2013-OOProgrammingWithJava-PART1/week6-100.NightSky/build/
/2013-OOProgrammingWithJava-PART1/week6-101.Library/build/
/2013-OOProgrammingWithJava-PART1/week6-102.GradeDistribution/build/
/2013-OOProgrammingWithJava-PART1/week6-103.Birdwatcher/build/
/2013-OOProgrammingWithJava-PART1/week6-104.Sorting/build/
/2013-OOProgrammingWithJava-PART1/week6-105.GuessingGame/build/
/2013-OOProgrammingWithJava-PART1/week6-106.BinarySearch/build/